---
import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import themeConfig from "@/config";
// import Comment from '@/components/Comment/Index.astro'
// import PostDate from '@/components/PostDate.astro'
// import TagList from '@/components/TagList.astro'
// import BackButton from '@/components/Widgets/BackButton.astro'
// import TOC from '@/components/Widgets/TOC.astro'
import ArticleMeta from "@/components/ArticleMeta.astro";
import Layout from "@/layouts/Layout.astro";
import { checkArticleSlugDuplication } from "@/utils/content";
import TagList from "@/components/TagList.astro";
import ShareButtons from "@/components/ShareButtons.astro";
import Comment from "@/components/Comment.astro";
import { getArticleDescription } from "@/utils/description";
import { getImage } from "astro:assets";

export async function getStaticPaths() {
  const articles = await getCollection("articles");

  const duplicates = await checkArticleSlugDuplication(articles);
  if (duplicates.length > 0) {
    throw new Error(`Duplicate article slugs:\n${duplicates.join("\n")}`);
  }

  type PathItem = {
    params: { slug: string };
    props: { article: any };
  };

  const paths: PathItem[] = [];

  articles.forEach((article: CollectionEntry<"articles">) => {
    // Show drafts in dev mode only
    if (import.meta.env.DEV || !article.data.draft) {
      const slug = article.data.abbrlink || article.id;

      paths.push({
        params: { slug: `${slug}/` },
        props: {
          article,
        },
      });
    }
  });

  return paths;
}

const { article } = Astro.props;
const { author } = themeConfig.site;
const slug = article.data.abbrlink || article.id;
const description = getArticleDescription(article, "meta");
const { Content } = await render(article);
const coverImage = article.data.image
  ? await getImage({
      src: article.data.image,
      widths: [480, 800, 1200],
      sizes: "(max-width: 768px) 100vw, 800px",
    })
  : null;
---

<Layout
  articleTitle={article.data.title}
  articleDescription={description}
  articleSlug={article.id}
  articleImage={article.data.image}
>
  <div class="relative">
    <!-- <BackButton /> -->
    <!-- Title -->
    <h1 class="article-title">
      <span transition:name={`article-${slug}`} data-disable-theme-transition>
        {article.data.title}
      </span>
    </h1>
  </div>
  <ArticleMeta author={author} publishDate={article.data.published} />
  <!-- TOC -->
  <!-- {article.data.toc && <TOC headings={headings} />} -->
  <!-- Content -->
  <div id="article-content">
    {
      coverImage && (
        <div class="article-cover">
          <img {...coverImage.attributes} alt={article.data.title} />
        </div>
      )
    }
    <Content />
    <!-- Copyright -->
    <div id="article-copyright"></div>
    <!-- Tag List -->
    {
      article.data.tags?.length > 0 && (
        <>
          <div class="mt-12.6 uno-decorative-line" />
          <TagList tags={article.data.tags} />
        </>
      )
    }
    <ShareButtons title={article.data.title} url={Astro.url.href} />
    <!-- Comment -->
    <Comment />
  </div>
</Layout>
